
<div style="background-color: #a5cfe3; padding: 20px; color: black; font-family: 'Montserrat', sans-serif;">
    <div class="container">
      <div class="text-center">
        <h1>Patients Portal</h1>
      </div>
      <div *ngIf="patients && patients.length > 0; else noPatients">
        <div class="card mb-3" *ngFor="let patient of patients">
          <div class="card-body">
            <h5 class="card-title">Name: {{ patient.name }}</h5>
            <p class="card-text">Id: {{ patient.patientId }}</p>
            <p class="card-text">Age: {{ patient.age }}</p>
            <p class="card-text">Gender: {{ patient.gender }}</p>
            <p class="card-text">Contact Number: {{ patient.contactNumber }}</p>
            <p class="card-text">Main Doctor Name: {{ patient.doctor.name }}</p>
            <p class="card-text">Main Doctor Id: {{ patient.doctor.doctorId }}</p>
            <div class="row justify-content-end">
              <div class="col-auto">
                <div class="mb-2">
                  <button class="btn btn-bg-color" routerLink="/patients/{{patient.patientId}}">Update</button>
                </div>
                <div>
                  <button class="btn btn-bg-color" (click)="deletePatient(patient.patientId)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noPatients>
        <p>No patient available.</p>
      </ng-template>
      <button class="btn btn-bg-color float-right" routerLink="/patients/create">Add New patient</button>
    </div>
  </div>
   