.form-container {
    background-color: white;
    border: 2px solid white;
    border-radius: 0;
    padding: 40px;
    max-width: 600px;
    font-family: 'Montserrat', sans-serif; /* Apply the same font-family */
  }
  
  .form-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-bg-color {
    background-color: #a5cfe3;
    color: #fff;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif; /* Apply the same font-family */
  }
  
  .btn-bg-color:hover {
    background-color: #3a7cbf;
  }
  