<div class="container-fluid vh-100 d-flex justify-content-center align-items-center" style="background-color: #a5cfe3;">
  <div class="form-container p-4">
    <div class="form-title mb-4">Add New Appointment</div>
    <form [formGroup]="postAppointmentForm" (ngSubmit)="postAppointment()">
      <div class="form-group">
        <label for="date">Date: </label>
        <input type="date" id="date" name="date" required formControlName="date" class="form-control" placeholder="mm/dd/yyyy">
        <div *ngIf="postAppointmentForm.get('date')?.invalid && postAppointmentForm.get('date')?.touched" class="text-danger">Date is required</div>
      </div>
      <div class="form-group">
        <label for="time">Time: </label>
        <input type="time" id="time" name="time" required formControlName="time" class="form-control" placeholder="hh:mm">
        <div *ngIf="postAppointmentForm.get('time')?.invalid && postAppointmentForm.get('time')?.touched" class="text-danger">Time is required</div>
      </div>
      <div class="form-group">
        <label for="doctorId">Doctor ID: </label>
        <input type="number" id="doctorId" name="doctorId" formControlName="doctorId" required class="form-control">
        <div *ngIf="postAppointmentForm.get('doctorId')?.invalid && postAppointmentForm.get('doctorId')?.touched" class="text-danger">Doctor ID is required</div>
      </div>
      <div class="form-group">
        <label for="patientId">Patient ID: </label>
        <input type="number" id="patientId" name="patientId" formControlName="patientId" required class="form-control">
        <div *ngIf="postAppointmentForm.get('patientId')?.invalid && postAppointmentForm.get('patientId')?.touched" class="text-danger">Patient ID is required</div>
      </div>
      <div class="form-group">
        <label for="notes">Notes: </label>
        <textarea id="notes" name="notes" formControlName="notes" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-bg-color" [disabled]="postAppointmentForm.invalid">Post</button>
     
    </form>
  </div>
</div>
