
  <div style="background-color: #a5cfe3; min-height: calc(100vh - 56px); display: flex; flex-direction: column;">
    <div class="jumbotron text-center" style="color: black; font-family: 'Montserrat', sans-serif; flex: 1; padding: 150px 0;">
      <h1 class="display-4 font-weight-bold" style="font-family: 'Courier New', Courier, monospace;">Welcome Admin!</h1>
      <p class="lead">Manage your clinic efficiently with our comprehensive admin dashboard.</p>
      <hr class="my-4">
      <p>Quickly access and update doctor, patient, medicine, and appointment information.</p>
    </div>
  
    <div class="container">
      <!-- About the App -->
      <div class="row mb-4">
        <div class="col text-center">
          <h2 style="font-size: 36px; margin-bottom: 20px;">About the App</h2>
          <p>Welcome to our clinic management app! This application is designed to simplify your clinic's daily operations.</p>
          <p>ife. Manage doctors, patients, medicines, and appointments effortlessly with our user-friendly interface. Stay organized, save time, and provide top-notch care to your patients.</p>
        </div>
      </div>
  
      <!-- Contact Information -->
      <div class="row mt-4">
        <div class="col text-center">
          <h2 style="font-size: 36px; margin-top: -20px; margin-bottom: 20px;">Contact Us</h2>
          <p>If you have any questions or need assistance, feel free to contact us:</p>
          <p>Phone: 123-456-7890</p>
        </div>
      </div>
    </div>
  </div>
<!-- home.component.html -->
